<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900  relative">
    <% if(userData._id === data._id) { %>
        <a href="/profile" class="text-blue-200 absolute right-3 top-4">Go Back</a>
    <% } else { %>
        <a href="/profile/<%= data.username %>" class="text-blue-200 absolute right-3 top-4">Go Back</a>
    <% } %>
   
    <div class="lg:w-3/5 p-5 flex justify-center items-center   lg:h-auto h-screen  text-white  border-2 border-zinc-800 rounded-md mx-auto container  bg-zinc-900 ">
        <div>
            <img src="<%= data.image_url %>" class="w-full mb-2  object-cover object-top  bg-pink-300 rounded-md object-cover" alt="">
            <p class="mt-2 text-white text-xl font-semibold mb-3"><%= data.postDescription || "" %></p>
        </div>
    </div>
</body>
</html>